.container {
  max-width: 411px;
  height: 700px;
  max-height: 100vh;
}

.button-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  font-size: xxx-large;
  padding: 24px;
  border-color: #fafafa;
  outline: none;
}

.output-container {
  margin-top: 20px;
  height: 30vh;
  padding: 8px;
}

.value-display {
  text-align: right;
  font-size: xxx-large;
}

.result-display {
  color: dimgrey;
  font-size: x-large;
  margin-right: 16px;
}
